
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*/Packages/
ImageMaker2/ImageMaker.v12.suo
ImageMaker2/ImageMaker.v12.suo
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/.gitignore
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.CLI/EDSDKWrapper.CLI.csproj
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.CLI/Program.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.CLI/Properties/AssemblyInfo.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/EDSDKWrapper.Framework.csproj
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/Access.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/AEMode.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/AFMode.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ApertureValue.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/BatteryQuality.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/Bracket.cs
ImageMaker2/Harvested/
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/BracketMode.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/CameraCommand.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/CameraISOSensitivity.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/CameraState.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ColorMatrix.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ColorSpace.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ComponentId.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/CompressQuality.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/DataType.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/DriveMode.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ErrorCodeMask.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ExposureCompensation.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/FileAttribute.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/FileCreateDisposition.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/FilterEffect.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ImageFormat.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ImageISOSensitivity.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ImageOrientation.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ImageQuality.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ImageSize.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ImageSource.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/LiveViewAutoFocusMode.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/LiveViewDepthOfFieldPreview.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/LiveViewDriveLens.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/LiveViewOutputDevice.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/LiveViewZoom.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/MeteringMode.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/MonochromeFilterEffect.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/MonochromeTone.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ObjectEvent.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/PhotoEffect.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/PictureStyle.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ProgressOption.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/PropertyEvent.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/PropertyId.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ReturnValue.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/SaveTo.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/SeekOrigin.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/ShutterSpeed.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/StateEvent.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/StorageType.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/TargetImageType.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/TonigEffect.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/TransferOption.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Enums/WhiteBalance.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Exceptions/EDSDKException.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Invokes/EDSDKInvokes.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Managers/FrameworkManager.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Managers/ReturnValueManager.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Miscellaneous/EnumUtilities.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Miscellaneous/GlobalConstants.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Objects/Camera.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Objects/Image.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Objects/Item.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Objects/LiveViewImage.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Properties/AssemblyInfo.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Resources/EDSDK.dll
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Resources/EDSDK_API.pdf
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Resources/EdsImage.dll
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Resources/Readme.txt
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/Capacity.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/DeviceInformation.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/DirectoryItemInformation.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/FocusInformation.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/FocusPoint.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/ICCProfile.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/ImageInformation.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/ImageQuality.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/PictureStyleDescription.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/Point.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/PropertyDescription.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/Rational.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/Rectangle.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/SaveImageSetting.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/Size.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/Time.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/VolumeInformation.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/WhiteBalanceBracket.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Framework/Structs/WhiteBalanceShift.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.NativeCLI/EDSDK.dll
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.NativeCLI/EDSDK.h
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.NativeCLI/EDSDKErrors.h
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.NativeCLI/EDSDKTypes.h
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.NativeCLI/EDSDKWrapper.NativeCLI.vcxproj
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.NativeCLI/EDSDKWrapper.NativeCLI.vcxproj.filters
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.NativeCLI/Main.cpp
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.sln
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Tests/CameraTesting.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Tests/EDSDKWrapper.Tests.csproj
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.Tests/Properties/AssemblyInfo.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/app.config
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/App.xaml
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/App.xaml.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/EDSDKWrapper.UI.csproj
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/MainView.xaml
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/MainView.xaml.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/MainViewModel.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/Properties/AssemblyInfo.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/Properties/Resources.Designer.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/Properties/Resources.resx
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/Properties/Settings.Designer.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/Properties/Settings.settings
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/EDSDKWrapper.UI/RelayCommand.cs
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/LICENSE
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/Logo/Untitled-1.png
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/Logo/Untitled-1.psd
ImageMaker2/ImageMaker/edsdk-wrapper-master/edsdk-wrapper-master/README.md
ImageMaker2/CustomPackages/SQLEXPR_x64_ENU.exe
ImageMaker2/CustomPackages/SQLEXPR_x86_ENU.exe
