<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <runtime>
      <legacyCorruptedStateExceptionsPolicy enabled="true" />
   </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="instagramPrinterQueue" value=".\private$\InstagramPrinterQueue" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ImageMakerDb" connectionString="data source=localhost\sqlexpress;initial catalog=ImageMakerDb;Integrated Security=true;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint
          name="AppService"
          address="net.tcp://localhost:8732/ImageMaker.Runner.AppService"
          binding="netTcpBinding"
          bindingConfiguration="ultra"
          contract="ImageMaker.AppServer.ICallingContract"
          behaviorConfiguration="IHello_Behavior" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="ultra"
             maxBufferPoolSize="1048576"
             maxBufferSize="1048576"
             maxConnections="1048576"
             maxReceivedMessageSize="1048576"
             portSharingEnabled="false"
             transactionFlow="false"
             listenBacklog="1048576">
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport protectionLevel="None" clientCredentialType="None"/>
          </security>
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="IHello_Behavior">
          <clientVia viaUri="net.tcp://localhost:8732/ImageMaker.Runner.AppService"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>