<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="george.39reg@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true"
            userName="george.39reg@gmail.com" password="ansivman71827276azkc"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>